* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  background-color: #4a5d77;
  width: 50%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
}
h1 {
  background-color: #0b1b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}
.choice {
  height: 180px;
  width: 180px;
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.choice:hover {
  background-color: rgb(206, 206, 157);
  cursor: pointer;
  opacity: 0.8;
}
.choice img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 4rem;
  gap: 2rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
  background-color: rgb(230, 200, 81);
  height: 100px;
  width: 200px;
  border: 1px solid #0b1b31;
  border-radius: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  background-color: #536680;
  color: aliceblue;
  margin-top: 3px;
  border: 1px solid #0b1b31;
}

.msg-container {
  margin-top: 4rem;
  cursor: pointer;
}
#msg {
  background-color: #0b1b31;
  color: aliceblue;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  display: inline;
  padding: 14px;
  border: 3px solid greenyellow;
  border-radius: 9px;
}
